.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  max-width: 50%;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 100px;

  & .card {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    min-width: 200px;
    width: 100%;
    overflow: hidden;
    border-radius: 1em;
    border: 1px solid #1f4956;
    background: #001e28;
    cursor: pointer;

    & .card-body {
      padding: 4rem 1rem;
      height: 100%;
      background: #001922;
      display: flex;
      flex-direction: column;
      font-size: 1rem;
      color: #f7fcff;
      gap: 0.5rem;
    }

    & .title {
      padding: 0.65em 0.75em;
      font-size: 0.9rem;
      background: rgba(30, 119, 166, 0.2);
      border-bottom: 1px solid #1f4956;
      text-align: center;
      color: #fafafa;
    }

    & .card-footer {
      display: flex;
      justify-content: center;
      padding: 1rem;
      margin-top: auto;
      background: #011015;

      & .button {
        display: flex;
        align-items: center;
        gap: 4px;
        background: #189541;
        color: white;
        min-width: 60px;
        border-radius: 100px;

        &:hover {
          transition: 0.1s ease-in;
          color: white;

          .fa-paste {
            color: white;
          }
        }

        .fa-paste {
          color: white;
        }
      }
    }
  }
}
