.main-content {
  padding: 200px 0;
  max-width: 50%;
  margin: 0 auto;
  min-height: 100dvh;

  @media (max-width: 1024px) {
    max-width: 80%;
  }

  .users-table-container {
    width: 100%;
    border-radius: 8px;
    border-top: none;
    background-color: #001e28;

    .users-header {
      padding: 20px 16px;
      display: flex;
      justify-content: start;
      align-items: center;
      border-radius: 8px 8px 0 0;
      background-color: #062839;

      .search-container {
        position: relative;
        display: inline-block;
      }
      .search-icon {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        color: #999;
      }

      .search-input {
        padding: 8px 10px 8px 35px;
        border: 1px solid rgb(47, 100, 117);
        border-radius: 20px;
        font-size: 14px;
        max-width: 200px;
        width: 100%;
        background-color: #00141e;
        transition: width 0.3s ease-in-out;
        color: white;
      }
      h3 {
        color: #ffff;
        font-size: 18px;
        font-weight: 500;
        text-align: left;
        padding-left: 16px;
        font-family: NeueCrocoSansRegular, sans-serif;
      }
    }

    .table-container {
      overflow-x: auto;
      max-height: 500px;

      th,
      td {
        word-wrap: break-word;
        color: rgb(255, 255, 255);
        border: 1px solid #11283b;
      }

      table {
        width: 100%;
        border-collapse: collapse;

        @media (max-width: 1024px) {
          width: 100% !important;
          float: left;
          display: block;
          text-align: center;
        }

        th {
          background-color: #00141e;
          padding: 14px;
          text-align: center;

          @media (max-width: 1024px) {
            display: none;
          }
        }

        tr {
          cursor: pointer;

          &:hover {
            transition: 0.1s ease-in;
            background-color: #001e28;
          }

          @media (max-width: 1024px) {
            width: 100% !important;
            float: left;
            display: block;
            text-align: center;
          }

          .button-todo {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 4px;
            background: #0e5276;
            color: white;
            min-width: 60px;
            border-radius: 100px;
            padding: 10px 24px;
          }

          .button {
            display: flex;
            align-items: center;
            gap: 4px;
            background: #189541;
            color: white;
            min-width: 60px;
            border-radius: 100px;
            padding: 10px 24px;

            @media (max-width: 1024px) {
              display: inline;
              padding: 0 20px;
            }

            &:hover {
              transition: 0.1s ease-in;
              color: white;

              .fa-paste {
                color: white;
              }
            }

            .fa-paste {
              color: white;
            }
          }

          td {
            padding: 14px;
            text-align: left;
            white-space: nowrap;

            &:first-child {
              @media (max-width: 1024px) {
                background-color: #00141e;
              }
            }

            @media (max-width: 1024px) {
              padding: 20px 0;
              width: 100%;
              float: left;
              display: flex;
              justify-content: center;
              text-align: center;
            }

            & span {
              display: none;
              word-wrap: normal;

              @media (max-width: 1024px) {
                display: inline-block;
              }
            }
          }
        }
      }
    }

    .no-users-message {
      text-align: center;
      padding: 20px;
      font-style: italic;
      color: white;
    }
  }
}
