<div class="main-content">
  <div class="users-table-container">
    <div class="users-header">
      <div class="search-container">
        <i class="fas fa-search search-icon"></i>
        <input
          type="search"
          id="user-search"
          name="q"
          [formControl]="userSearchControl"
          placeholder="Search"
          class="search-input"
        />
      </div>
      <h3>Users</h3>
    </div>
    <div class="table-container">
      <ng-container *ngIf="users?.length; else noUsers">
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Phone Number</th>
              <th>Email</th>
              <th>Company</th>
              <th>Posts</th>
              <th>Todo list</th>
            </tr>
          </thead>
          <tbody>
            @for (user of users; track user.id) {
            <tr>
              <td>
                <span>ID: </span>
                {{ user.id }}
              </td>
              <td>
                <span>Firstname: </span>
                {{ user.firstName }}
              </td>
              <td>
                <span>LastName: </span>
                {{ user.lastName }}
              </td>
              <td>
                <span>Phone: </span>
                {{ user.phone }}
              </td>
              <td>
                <span>Email: </span>
                {{ user.email | lowercase }}
              </td>
              <td>
                <span>Company Name: </span>
                {{ user.company.name }}
              </td>
              <td>
                <button
                  class="button btn-stylized"
                  (click)="onClickPosts(user.id)"
                >
                  Posts
                  <i class="fa-solid fa-table-list"></i>
                </button>
              </td>
              <td>
                <a class="button-todo" (click)="onClickTodos(user.id)">
                  <span>Todo List</span>
                  <i class="fa-solid fa-paste"></i>
                </a>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </ng-container>
      <ng-template #noUsers>
        <div class="no-users-message">
          No users found matching your search criteria.
        </div>
      </ng-template>
    </div>
  </div>
</div>
