.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 14;
  padding: 100px;
  padding-left: 186px;

  @media (max-width: 1024px) {
    padding: 50px 20px 50px 100px;
  }

  & .popup-content {
    position: relative;
    background-color: rgba(0, 31, 41, 0.9);
    color: #ffffff;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    overflow-y: auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.3s ease-out;

    h2 {
      background-color: rgba(1, 125, 187, 0.1);

      text-align: center;
      font-size: 18px;
      padding: 30px;
    }

    & .close {
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 10px;
      font-size: 35px;
      color: #ffffff;
      text-decoration: none;
      transition: color 0.3s;

      &:hover {
        color: #883c3c;
      }
    }

    & .description {
      padding: 60px;
      max-height: 60%;
      overflow-y: auto;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
