<div class="container">
  <div class="front side">
    <div class="content">
      <div class="table-container">
        <div class="users-header">
          <h3>{{ userDetail.name }}</h3>
        </div>
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>UserName</th>
              <th>Phone Number</th>
              <th>Email</th>
              <th>Company</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <span>ID: </span>
                {{ userDetail.id }}
              </td>
              <td>
                <span>Name: </span>
                {{ userDetail.username }}
              </td>
              <td>
                <span>Phone: </span>
                {{ userDetail.phone }}
              </td>
              <td>
                <span>Email: </span>
                {{ userDetail.email }}
              </td>
              <td>
                <span>Company Name: </span>
                {{ userDetail.company.name }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
