.table-container {
  max-width: 50%;
  margin: 50px auto 0 auto;
  overflow-x: auto;
  background: rgba(0, 170, 255, 0.1);
  width: 100%;
  border-radius: 1rem;

  @media (max-width: 1024px) {
    max-width: 80%;
  }

  .users-header {
    background: rgba(30, 119, 166, 0.2);
    border-bottom: 1px solid #1e77a6;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: start;

    h3 {
      text-align: center;
      color: #ffff;
      font-size: 18px;
      font-weight: 300;
    }
  }

  th,
  td {
    word-wrap: break-word;
    color: rgb(255, 255, 255);
    border: 0.1px solid rgba(30, 119, 166, 0.2);
  }

  table {
    width: 100%;
    border-collapse: collapse;
    background: #001e28;

    @media (max-width: 1024px) {
      width: 100% !important;
      float: left;
      text-align: center;
    }

    th {
      padding: 14px;
      text-align: center;
      font-size: 14px;
      font-weight: 400;

      @media (max-width: 1024px) {
        display: none;
      }
    }

    tr {
      cursor: pointer;

      &:hover {
        transition: 0.1s ease-in;
      }

      @media (max-width: 1024px) {
        width: 100% !important;
        float: left;

        display: block;
        text-align: center;
      }

      td {
        word-wrap: break-word;
        padding: 14px;
        text-align: center;
        font-size: 13px;

        @media (max-width: 1024px) {
          padding: 20px 0;
          width: 100%;
          float: left;
          display: block;
          text-align: center;
        }

        & span {
          display: none;
          @media (max-width: 1024px) {
            display: inline-block;
          }
        }
      }
    }
  }
}
