@if (isLoading$ | async) {
<app-spinner></app-spinner>
}@else {
<div class="main-content">
  <div class="posts-table-container">
    <div class="users-header">
      <h3>Todo List</h3>
    </div>
    <div class="table-container">
      <table>
        <thead class="sticky-thead">
          <tr>
            <th>Author</th>
            <th>Post title</th>
            <th>Completed</th>
          </tr>
        </thead>
        <tbody>
          @if (isLoading$ | async) {
          <app-spinner></app-spinner>
          }@else{ @for (todo of todosWithAuthor$ | async ; track todo.id) {
          <tr>
            <td>
              <span>Name: </span>
              {{ todo.authorName }}
            </td>
            <td>
              <span>Post Title: </span>
              {{ todo.title }}
            </td>
            <td>
              <a class="button">
                <span>completed: </span>
                @if (todo.completed) {
                <i class="fa-solid fa-check completed"></i>
                }@else {
                <i class="fa-solid fa-xmark declined"></i>
                }
              </a>
            </td>
          </tr>
          } }
        </tbody>
      </table>
    </div>
  </div>
</div>
}
