<div class="sidebar">
  <nav class="buttons">
    <ul>
      <li>
        <a routerLink="/home">
          <div class="users">
            <i routerLinkActive="active" class="fa-solid fa-users"></i>
            <button routerLinkActive="active" class="user-button">Users</button>
          </div>
        </a>
      </li>
      <li>
        <a routerLink="/allPost">
          <div class="posts">
            <i routerLinkActive="active" class="fa-solid fa-paste"></i>
            <button routerLinkActive="active" class="post-button">Posts</button>
          </div>
        </a>
      </li>
    </ul>
  </nav>
</div>
