@if (user$ | async; as userDetail) {
<app-user-detail
  [userDetail]="userDetail"
  [postsAmount]="userPosts$.value.length"
>
</app-user-detail>

<div class="container">
  @if (userPostDetail$ | async; as post) {
  <div class="card">
    <span class="postTitle">{{ post.title | truncateString : 3 }}</span>
    <div class="card-body">
      <p>
        {{ post.body | truncateString : 10 }}
      </p>
    </div>
    <div class="card-footer">
      <div (click)="showPopup(post)" class="details">
        <i class="fa-solid fa-circle-info"></i>
        <div class="details-info">
          <h5>Details</h5>
        </div>
      </div>
    </div>
    @if (popUpIsVisible && selectedUser === post){
    <app-popup
      (PopupEmitter)="hidePopup($event)"
      [user]="selectedUser"
    ></app-popup>
    }
  </div>
  }
</div>
}
